.root{
    display: flex;
    li{
        padding: 10px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        width: 45px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        &:hover{
            background-color: #fe5f1e;
        }
        a{
            &:hover {
                    color: black;
                }
        }
    }

    :global {
       .selected{
        background-color: #fe5f1e;
        color: #fff
       }
}
}


