.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
    flex-direction: column;


}

p{
    width: 100%;
    margin: auto 0px ;

}

.title{
    font-size: 30px;
    font-weight: 400px;
}